<div class="container">
    <h1>Your Grocery List</h1>
    <section [ngSwitch]="isAuth">
      <p *ngSwitchCase="false">{{message}}</p>
      <section *ngSwitchCase="true">
        <ul *ngIf="(groceryListDayOne | async)?.length>0"> Sunday
          <li *ngFor= "let ingredients of groceryListDayOne | async">
            {{ ingredients }}
            <!--<button *ngIf="ingredients" class="destroy" (click)="removeItem(ingredients)"></button>-->
          </li>
        </ul>
        <ul *ngIf="(groceryListDayTwo | async)?.length>0"> Monday
          <li *ngFor= "let ingredients of groceryListDayTwo | async">
            {{  ingredients }}
          </li>
        </ul>
        <ul *ngIf="(groceryListDayThree | async)?.length>0"> Tuesday
          <li *ngFor= "let ingredients of groceryListDayThree | async">
            {{  ingredients }}
          </li>
        </ul>
        <ul *ngIf="(groceryListDayFour | async)?.length>0"> Wednesday
          <li *ngFor= "let ingredients of groceryListDayFour | async">
            {{  ingredients }}
          </li>
        </ul>
        <ul *ngIf="(groceryListDayFive | async)?.length>0"> Thursday
          <li *ngFor= "let ingredients of groceryListDayFive | async">
            {{  ingredients }}
          </li>
        </ul>
        <ul *ngIf="(groceryListDaySix | async)?.length>0"> Friday
          <li *ngFor= "let ingredients of groceryListDaySix | async">
            {{  ingredients }}
          </li>
        </ul>
        <ul *ngIf="(groceryListDaySeven | async)?.length>0"> Saturday
          <li *ngFor= "let ingredients of groceryListDaySeven | async">
            {{  ingredients }}
          </li>
        </ul>
      </section>
    </section>
  </div>