h1{
    text-align: center;
    font-size: 3em;
    font-family: 'Open Sans', sans-serif;
}

.recipe-name{
    width: 100%;
    min-height: 70px;
    overflow: hidden;
    font-family: 'Open Sans', sans-serif;
    cursor: move;
    cursor: url('../../../assets/grab-cursor.png'), auto;
    cursor: -webkit-grab;
    cursor: -mox-grab;
    cursor: grab;
}

.recipe-name:active{
    cursor: url('../../../assets/grabbing-cursor.png'), auto;
    cursor: -webkit-grabbing;
    cursor:    -moz-grabbing;
    cursor:         grabbing;
}

.recipe-image{
    width: 100%;
    overflow: hidden;
    min-height: 150px;
    cursor: move;
    cursor: url('../../../assets/grab-cursor.png'), auto;
    cursor: -webkit-grab;
    cursor: -mox-grab;
    cursor: grab;
}

.recipe-image:active{
    cursor: url('../../../assets/grabbing-cursor.png'), auto;
    cursor: -webkit-grabbing;
    cursor:    -moz-grabbing;
    cursor:         grabbing;
}

.col-xs-2.recipes{
    min-height: 200px;
    /*border: 2px solid black;*/
    /*margin-left: 1.5%;*/
    margin-top: 2%;
    margin-bottom: 2%;
}

.col-xs-2.recipes:hover{
    background: rgba(58.5%, 58.5%, 58.5%, 0.5%);
}

.carousel-inner{
    padding-left: 10%;
    min-width: 100%;
}

@media (min-width: 768px){
    .recipe-column .col-xs-2 {
        width: 100%;
        *width: 100%;
    }
}

@media (min-width: 992px){
    .recipe-column .col-xs-2 {
        width: 12.5%;
        *width: 12.5%;
    }
}