h1{
    text-align: center;
    font-size: 3em;
    font-family: 'Open Sans', sans-serif;
}

.recipe-name{
    width: 100%;
    height: 70px;
    overflow: hidden;
    font-family: 'Open Sans', sans-serif;
}

.recipe-image{
    width: 100%;
    overflow: hidden;
    height: 150px;
}

.col-xs-2.recipes{
    min-height: 200px;
    /*border: 2px solid black;*/
    /*margin-left: 1.5%;*/
    margin-top: 2%;
    margin-bottom: 2%;
}

.carousel-inner{
    padding-left: 10%;
    width: 100%;
}

@media (min-width: 768px){
    .recipe-column .col-xs-2 {
        width: 100%;
        *width: 100%;
    }
}

@media (min-width: 992px){
    .recipe-column .col-xs-2 {
        width: 12.5%;
        *width: 12.5%;
    }
}