<div class="row recipe-search">
  <form [formGroup]="chooseCuisineForm"> 
    <div class="col-xs-5">
        <label for="cuisine">I feel like</label>
    </div>
    <div class="col-xs-2">
        <select class="form-control" formControlName="cuisine" (change)="searchCuisine($event)">
            <option *ngFor= "let cuisine of cuisines" [value]="cuisine">{{cuisine}}</option>
        </select>
    </div>
  </form>
</div>
<div class="row recipe-column">
    <div class="col-xs-2 recipes" *ngFor="let recipe of recipes" pDraggable="recipes" (onDragStart)="dragStart($event,recipe)" (onDragEnd)="dragEnd($event)">
      {{recipe.recipeName}}
      <a href="http://www.yummly.co/recipe/{{recipe.id}}" target="_blank">
        <img src={{recipe.imageUrlsBySize[90]}} width= "100%" height= "80%">
      </a>
    </div>
</div>
<div class="row day-columns">
    <div class="col-xs-1 child one" pDroppable="recipes" (onDrop)="drop($event)">Day 1</div>
    <div class="col-xs-1 child two" pDroppable="recipes" (onDrop)="drop($event)">Day 2</div>
    <div class="col-xs-1 child three" pDroppable="recipes" (onDrop)="drop($event)">Day 3</div>
    <div class="col-xs-1 child four" pDroppable="recipes" (onDrop)="drop($event)">Day 4</div>
    <div class="col-xs-1 child five" pDroppable="recipes" (onDrop)="drop($event)">Day 5</div>
    <div class="col-xs-1 child six" pDroppable="recipes" (onDrop)="drop($event)">Day 6</div>
    <div class="col-xs-1 child seven" pDroppable="recipes" (onDrop)="drop($event)">Day 7</div>
</div>

