h1{
    font-family: 'Open Sans', sans-serif;
    font-size: 5em;
}

#leftHalf {
    width: 50%;
    position: absolute;
    left: 0px;
    min-height: 100%;
    padding: 10%;
}

#rightHalf {
   background: url('../assets/spaghetti.jpg');
   width: 50%;
   position: absolute;
   right: 0px;
   min-height: 100%;
}

.content {
    position: absolute;
    top: 110%;
    min-height: 100%;
    height: auto !important;
    margin: 0 auto -155px;
}




