<nav class="navbar navbar-default">
  <ul class="nav navbar-nav justified" *ngIf="!username">
    <li (click)="loginGoogle()">Log in to view your list: 
      <img width="30" src="../../assets/icons/gmail.ico" />
    </li>
    <li (click)="loginFB()">
      <img width="30" src="../../assets/icons/fb.ico" />
    </li>
  </ul>
  <ul class="nav navbar-nav justified" *ngIf="username">
       <li class="greeting"> Hi, <i>{{username}}</i> drag and drop recipes to update your grocery list!</li>
       <li><button md-raised-button (click)="logout()">Not you? Logout</button> </li>
  </ul>
</nav>
