.col-xs-1{
    min-height: 200px;
    border: 2px solid black;
    margin-left: 1.5%;
}

@media (min-width: 768px){
    .day-columns .col-xs-1 {
        width: 100%;
        *width: 100%;
    }
}

@media (min-width: 992px){
    .day-columns .col-xs-1 {
        width: 12.5%;
        *width: 12.5%;
    }
}