<div class="row day-columns">
    <div class="col-xs-1 child one" pDroppable="recipes" (onDrop)="drop($event)">
      <span class="weekday">Sunday</span>
      <div *ngIf="divOneRecipe">
        {{divOneRecipe.name}}
        <a href="http://www.yummly.co/recipe/{{divOneRecipe.yummlyID}}" target="_blank">
          <img src={{divOneRecipe.imageURL}} width= "100%" height= "80%">
        </a>
      </div>
    </div>

    <div class="col-xs-1 child two" pDroppable="recipes" (onDrop)="drop($event)">
      <span class="weekday">Monday</span>
      <div *ngIf="divTwoRecipe">
        {{divTwoRecipe.name}}
        <a href="http://www.yummly.co/recipe/{{divTwoRecipe.yummlyID}}" target="_blank">
          <img src={{divTwoRecipe.imageURL}} width= "100%" height= "80%">
        </a>
      </div>
    </div>

    <div class="col-xs-1 child three" pDroppable="recipes" (onDrop)="drop($event)">
      <span class="weekday">Tuesday</span>
      <div *ngIf="divThreeRecipe">
        {{divThreeRecipe.name}}
        <a href="http://www.yummly.co/recipe/{{divThreeRecipe.yummlyID}}" target="_blank">
          <img src={{divThreeRecipe.imageURL}} width= "100%" height= "80%">
        </a>
      </div>
    </div>

    <div class="col-xs-1 child four" pDroppable="recipes" (onDrop)="drop($event)">
      <span class="weekday">Wednesday</span>
      <div *ngIf="divFourRecipe">
        {{divFourRecipe.name}}
        <a href="http://www.yummly.co/recipe/{{divFourRecipe.yummlyID}}" target="_blank">
          <img src={{divFourRecipe.imageURL}} width= "100%" height= "80%">
        </a>
      </div>
    </div>

    <div class="col-xs-1 child five" pDroppable="recipes" (onDrop)="drop($event)">
      <span class="weekday">Thursday</span>
      <div *ngIf="divFiveRecipe">
        {{divFiveRecipe.name}}
        <a href="http://www.yummly.co/recipe/{{divFiveRecipe.yummlyID}}" target="_blank">
          <img src={{divFiveRecipe.imageURL}} width= "100%" height= "80%">
        </a>
      </div>
    </div>

    <div class="col-xs-1 child six" pDroppable="recipes" (onDrop)="drop($event)">
      <span class="weekday">Friday</span>
      <div *ngIf="divSixRecipe">
        {{divSixRecipe.name}}
        <a href="http://www.yummly.co/recipe/{{divSixRecipe.yummlyID}}" target="_blank">
          <img src={{divSixRecipe.imageURL}} width= "100%" height= "80%">
        </a>
      </div>
    </div>

    <div class="col-xs-1 child seven" pDroppable="recipes" (onDrop)="drop($event)">
      <span class="weekday">Saturday</span>
      <div *ngIf="divSevenRecipe">
        {{divSevenRecipe.name}}
        <a href="http://www.yummly.co/recipe/{{divSevenRecipe.yummlyID}}" target="_blank">
          <img src={{divSevenRecipe.imageURL}} width= "100%" height= "80%">
        </a>
      </div>
    </div>
</div>
