<div [ngSwitch]="isAuth" class="container">
  <div *ngSwitchCase="false" class="quote"></div>
    <div *ngSwitchCase="true" class="row day-columns">
        <div class="col-xs-1" pDroppable="recipes" (onDrop)="drop($event)">
          <span class="weekday">Sunday</span>
          <div class="recipe-box child one" *ngIf="divOneRecipe">
              {{divOneRecipe.name}}
              <a href="http://www.yummly.co/recipe/{{divOneRecipe.yummlyID}}" target="_blank">
                <img src={{divOneRecipe.imageURL}} width= "100%">
              </a>
          </div>
        </div>

        <div class="col-xs-1" pDroppable="recipes" (onDrop)="drop($event)">
          <span class="weekday">Monday</span>
          <div class="recipe-box child two" *ngIf="divTwoRecipe">
            {{divTwoRecipe.name}}
            <a href="http://www.yummly.co/recipe/{{divTwoRecipe.yummlyID}}" target="_blank">
              <img src={{divTwoRecipe.imageURL}} width= "100%">
            </a>
          </div>
        </div>

        <div class="col-xs-1" pDroppable="recipes" (onDrop)="drop($event)">
          <span class="weekday">Tuesday</span>
          <div class="recipe-box child three" *ngIf="divThreeRecipe">
            {{divThreeRecipe.name}}
            <a href="http://www.yummly.co/recipe/{{divThreeRecipe.yummlyID}}" target="_blank">
              <img src={{divThreeRecipe.imageURL}} width= "100%">
            </a>
          </div>
        </div>

        <div class="col-xs-1" pDroppable="recipes" (onDrop)="drop($event)">
          <span class="weekday">Wednesday</span>
          <div class="recipe-box child four" *ngIf="divFourRecipe">
            {{divFourRecipe.name}}
            <a href="http://www.yummly.co/recipe/{{divFourRecipe.yummlyID}}" target="_blank">
              <img src={{divFourRecipe.imageURL}} width= "100%">
            </a>
          </div>
        </div>

        <div class="col-xs-1" pDroppable="recipes" (onDrop)="drop($event)">
          <span class="weekday">Thursday</span>
          <div class="recipe-box child five" *ngIf="divFiveRecipe">
            {{divFiveRecipe.name}}
            <a href="http://www.yummly.co/recipe/{{divFiveRecipe.yummlyID}}" target="_blank">
              <img src={{divFiveRecipe.imageURL}} width= "100%">
            </a>
          </div>
        </div>

        <div class="col-xs-1" pDroppable="recipes" (onDrop)="drop($event)">
          <span class="weekday">Friday</span>
          <div class="recipe-box child six" *ngIf="divSixRecipe">
            {{divSixRecipe.name}}
            <a href="http://www.yummly.co/recipe/{{divSixRecipe.yummlyID}}" target="_blank">
              <img src={{divSixRecipe.imageURL}} width= "100%">
            </a>
          </div>
        </div>

        <div class="col-xs-1" pDroppable="recipes" (onDrop)="drop($event)">
          <span class="weekday">Saturday</span>
          <div class="recipe-box child seven" *ngIf="divSevenRecipe">
            {{divSevenRecipe.name}}
            <a href="http://www.yummly.co/recipe/{{divSevenRecipe.yummlyID}}" target="_blank">
              <img src={{divSevenRecipe.imageURL}} width= "100%">
            </a>
          </div>
        </div>
    </div>
</div>
